@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/RobotoCondensed-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../assets/fonts/RobotoCondensed-Bold.ttf") format("opentype");
}
