@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/RobotoCondensed-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../assets/fonts/RobotoCondensed-Bold.ttf") format("opentype");
}

@import "./variables";
@import "./mixins";
@import "./normalize";

body {
  height: 100%;
  min-width: 300px;
  min-height: 430px;
  font-family: $app-font-family;
}

.app {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #1c1b15 url("../assets/images/bg_fire.png") no-repeat 0 47px;
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
