@import "./fonts";
@import "./normalize";
@import "./variables";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  height: 100%;
  min-width: 300px;
  min-height: 430px;
  font-family: $app-font-family;
}

.app {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #1c1b15 url("../assets/images/bg_fire.png") no-repeat 0 47px;
  background-size: cover;
}

.centralizer {
  width: 1200px;
  margin: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
