// FONTS
$app-font-family: "Roboto Condensed", Arial, sans-serif;

// COLORS
$header-background: #000;
$card-background: #00000036;
$card-hover-background: #00000099;
$title-text-color: #ccc;
$header-link-color: #919191;
$header-dark-text-color: #656565;
$main-light-color: #fff;
$hover-text-color: #fff;
$price-color: #d1b482;
$purchase-button-background: #e95104;
$purchase-text-color: #fff;

// ANIMATION
$app-standard-transition: all 200ms;
$card-transition: all 300ms;

//  SIZE
$app-max-width: 1259px;
$app-min-width: 1024px;
