@import "../common/variables.scss";
@import "../common/flags";
@import "../common/tank-type";

.card {
  position: relative;
  display: block;
  height: 300px;
  margin: 1px;

  background-color: $card-background;
  transition: $card-transition;

  .card__info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .card__img {
      height: 118px;
      margin-bottom: 15px;
      transition: $card-transition;

      @media (max-width: $app-max-width) {
        height: 106px;
      }
    }

    &_extension {
      .card__img {
        width: 213px;
        height: 145px;

        @media (max-width: $app-max-width) {
          width: 170px;
          height: 116px;
        }
      }
    }

    &_premium {
      .card__img {
        width: 170px;
        height: 166px;
        margin-bottom: 40px;

        @media (max-width: $app-max-width) {
          width: 136px;
          height: 133px;
        }
      }
    }

    &_reserves {
      .card__img {
        width: 222px;
        height: 175px;
        margin-bottom: 85px;

        @media (max-width: $app-max-width) {
          width: 178px;
          height: 140px;
        }
      }
    }

    &_gold {
      .card__img {
        width: 254px;
        height: 152px;
        margin-bottom: 25px;

        @media (max-width: $app-max-width) {
          width: 205px;
          height: 120px;
        }
      }
    }

    .card__specifications {
      position: absolute;
      bottom: 30px;
      transition: $card-transition;

      .item__description {
        display: flex;
        margin-bottom: 10px;

        font-family: $app-font-family;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
        color: $title-text-color;

        .item__level {
          margin-right: 8px;
        }

        .item__title {
          max-width: 270px;
          text-transform: none;

          @media (max-width: $app-max-width) {
            max-width: 200px;
          }
        }
      }

      .item__price {
        display: flex;
        font-family: $app-font-family;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.1em;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
        color: $price-color;
      }
    }

    .card__info_vehicle {
      .card__specifications {
        .item__title {
          max-width: 150px;

          @media (max-width: $app-max-width) {
            max-width: 136px;
          }
        }
      }
    }
  }

  @media (max-width: $app-max-width) {
    height: 248px;
  }

  &_single {
    width: 298px;

    .card__specifications {
      left: 27px;
    }

    .card__img {
      width: 243px;

      @media (max-width: $app-max-width) {
        width: 219px;
      }
    }

    .like-btn {
      width: 35px;
      right: 20px;
    }

    .purchase-btn {
      left: 26px;
    }

    @media (max-width: $app-max-width) {
      width: 248px;
    }
  }

  &_double {
    width: 598px;

    .card__specifications {
      left: 54px;
    }

    .card__info {
      .card__img {
        width: 480px;
        height: 221px;

        @media (max-width: $app-max-width) {
          width: 384px;
          height: 180px;
        }
      }
    }

    .like-btn {
      width: 70px;
      right: 4px;
    }

    .purchase-btn {
      left: 52px;
    }

    @media (max-width: $app-max-width) {
      width: 498px;
    }
  }

  .purchase-btn {
    opacity: 0;
    width: 150px;
    height: 45px;
    bottom: 30px;
    position: absolute;
    border-radius: 3px;
    border: 1px solid $purchase-button-background;
    background: none;
    font-family: $app-font-family;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: $purchase-text-color;
    transition: $app-standard-transition;

    &:hover {
      background-color: $purchase-button-background;
    }

    &__active {
      background-color: $purchase-button-background;

      &:hover {
        color: $purchase-button-background;
        background-color: $purchase-text-color;
      }
    }
  }

  .like-btn {
    position: absolute;
    top: 20px;
    height: 30px;

    background-image: url("../assets/images/heart_empty.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px 30px;

    opacity: 0.7;

    transition: $app-standard-transition;

    &:hover {
      background-image: url("../assets/images/heart_filled.png");
    }
  }

  .like-btn_active {
    background-image: url("../assets/images/heart_filled.png");
    opacity: 0.6;
  }

  &:hover {
    background-color: $card-hover-background;
    transition: $card-transition;

    .card__img {
      opacity: 0.65;
      transition: $card-transition;
    }

    & .card__specifications {
      bottom: 85px;
      transition: $card-transition;
    }

    .purchase-btn {
      opacity: 1;
      transition: all 600ms;
    }
  }
}
