@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/RobotoCondensed-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../assets/fonts/RobotoCondensed-Bold.ttf") format("opentype");
}
* {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
  background: none;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  height: 100%;
  min-width: 300px;
  min-height: 430px;
  font-family: "Roboto Condensed", Arial, sans-serif;
}

.app {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #1c1b15 url("../assets/images/bg_fire.png") no-repeat 0 47px;
  background-size: contain;
}

.centralizer {
  width: 1240px;
  margin: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47px;
  background: #000;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}
.header .nav a,
.header .nav span {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #919191;
  transition: all 200ms;
}
.header .nav a:hover,
.header .nav span:hover {
  color: #fff;
  transition: all 200ms;
}
.header .nav .logo {
  display: flex;
  align-items: center;
}
.header .nav .logo .premium-logo {
  margin-right: 12px;
}
.header .nav .logo .premium-logo__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ccc;
}
.header .nav .logo:hover .premium-logo__title {
  color: #fff;
}
.header .nav .nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .nav .nav-menu .nav-menu__sub-menu {
  display: flex;
  flex-direction: row;
}
.header .nav .nav-menu a {
  display: flex;
  margin-right: 66px;
}
.header .nav .nav-menu span {
  color: #656565;
}
.header .nav .nav-menu .quantity {
  color: #fff;
  margin-left: 5px;
}
.header .nav .nav-menu .authentication {
  display: flex;
}
.header .nav .nav-menu .authentication a {
  margin-right: 5px;
}
.header .nav .nav-menu .authentication span {
  margin-right: 5px;
}

.flag {
  width: 21px;
  height: 14px;
  margin-right: 8px;
}
.flag_all {
  background: url("../assets/flags/all.png");
  width: 13px;
  height: 14px;
  margin: 0 11px 0 5px;
}
.flag_china {
  background: url("../assets/flags/china.png");
}
.flag_czech {
  background: url("../assets/flags/czech.png");
}
.flag_france {
  background: url("../assets/flags/france.png");
}
.flag_germany {
  background: url("../assets/flags/germany.png");
}
.flag_poland {
  background: url("../assets/flags/poland.png");
}
.flag_sweden {
  background: url("../assets/flags/sweden.png");
}
.flag_uk {
  background: url("../assets/flags/uk.png");
}
.flag_usa {
  background: url("../assets/flags/usa.png");
}
.flag_ussr {
  background: url("../assets/flags/ussr.png");
}
.flag_italy {
  background: url("../assets/flags/italy.png");
}
.flag_japan {
  background: url("../assets/flags/japan.png");
}
.flag_merc {
  background: url("../assets/flags/marc.png");
}

.tank-type {
  width: 9px;
  height: 15px;
  margin-right: 8px;
  background-position: center center;
  background-repeat: no-repeat;
}
.tank-type_all {
  background-image: url("../assets/types/all.png");
  width: 17px;
  height: 11px;
  margin-right: 5px;
}
.tank-type_at-spg {
  background-image: url("../assets/types/at-spg.png");
}
.tank-type_heavytank {
  background-image: url("../assets/types/heavytank.png");
}
.tank-type_lighttank {
  background-image: url("../assets/types/lighttank.png");
}
.tank-type_mediumtank {
  background-image: url("../assets/types/mediumtank.png");
}
.tank-type_multirole {
  background-image: url("../assets/types/multirole.png");
}
.tank-type_spg {
  background-image: url("../assets/types/spg.png");
}

.card {
  position: relative;
  display: block;
  height: 300px;
  margin: 1px;
  background-color: #00000036;
  transition: all 300ms;
}
.card .card__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.card .card__info .card__img {
  height: 118px;
  margin-bottom: 15px;
  transition: all 300ms;
}
.card .card__info_extension .card__img {
  width: 213px;
  height: 145px;
}
.card .card__info_premium .card__img {
  width: 170px;
  height: 166px;
  margin-bottom: 40px;
}
.card .card__info_reserves .card__img {
  width: 222px;
  height: 175px;
  margin-bottom: 85px;
}
.card .card__info_gold .card__img {
  width: 254px;
  height: 152px;
  margin-bottom: 25px;
}
.card .card__info .card__specifications {
  position: absolute;
  bottom: 30px;
  transition: all 300ms;
}
.card .card__info .card__specifications .item__description {
  display: flex;
  margin-bottom: 10px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
  color: #ccc;
}
.card .card__info .card__specifications .item__description .item__level {
  margin-right: 8px;
}
.card .card__info .card__specifications .item__description .item__title {
  max-width: 300px;
  text-transform: none;
}
.card .card__info .card__specifications .item__price {
  display: flex;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
  color: #d1b482;
}
.card_single {
  width: 300px;
}
.card_single .card__specifications {
  left: 27px;
}
.card_single .card__img {
  width: 243px;
}
.card_single .like-btn {
  width: 35px;
  right: 20px;
}
.card_single .purchase-btn {
  left: 26px;
}
.card_double {
  width: 602px;
}
.card_double .card__specifications {
  left: 54px;
}
.card_double .card__info .card__img {
  width: 480px;
  height: 221px;
}
.card_double .like-btn {
  width: 70px;
  right: 4px;
}
.card_double .purchase-btn {
  left: 52px;
}
.card .purchase-btn {
  opacity: 0;
  width: 150px;
  height: 45px;
  bottom: 30px;
  position: absolute;
  border-radius: 3px;
  border: 1px solid #e95104;
  background: none;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #fff;
  transition: all 200ms;
}
.card .purchase-btn:hover {
  background-color: #e95104;
}
.card .purchase-btn__active {
  background-color: #e95104;
}
.card .purchase-btn__active:hover {
  color: #e95104;
  background-color: #fff;
}
.card .like-btn {
  position: absolute;
  top: 20px;
  height: 30px;
  background-image: url("../assets/images/heart_empty.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 34px 30px;
  opacity: 0.7;
  transition: all 200ms;
}
.card .like-btn:hover {
  background-image: url("../assets/images/heart_filled.png");
}
.card .like-btn_active {
  background-image: url("../assets/images/heart_filled.png");
  opacity: 0.6;
}
.card:hover {
  background-color: #00000099;
  transition: all 300ms;
}
.card:hover .card__img {
  opacity: 0.65;
  transition: all 300ms;
}
.card:hover .card__specifications {
  bottom: 85px;
  transition: all 300ms;
}
.card:hover .purchase-btn {
  opacity: 1;
  transition: all 600ms;
}

.main .main__menu {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 20px 0;
}
.main .main__menu .main__logo img {
  width: 160px;
  height: 80px;
}
.main .main__menu .menu__nav {
  display: flex;
  margin-top: 45px;
}
.main .main__menu .menu__nav button {
  margin-left: 30px;
  padding: 5px 9px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ccc;
  border-bottom: 4px solid transparent;
  transition: all 200ms;
}
.main .main__menu .menu__nav button:hover {
  color: #fff;
  border-bottom: 4px solid #fff;
  transition: all 200ms;
}
.main .main__menu .menu__nav .menu__nav_active {
  color: #fff;
  border-bottom: 4px solid #fff;
}
.main .cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

/*# sourceMappingURL=index.css.map */
